body{
  background-image: url('../img/oct.jpg');
  background-size: cover;
  background-attachment: fixed;
}
h1, h2, h3, h4{
  font-family: "Press Start 2P" !important;
}
a{
  color: #3498db;
  transition: ease all 1s;
}
a:hover{
  color: #2980b9;
  text-decoration: none !important;
  }
#content{
  background-color:rgba(0, 0, 0, 0.25);
  color: white;
}

.menuitem{
  font-family: "Press Start 2P";
  color: white;
  opacity: .5;
  text-shadow: 2px 2px 4px #000000;
  transition: all ease 1s;
  cursor: pointer;
}
.menuitem:hover{
  opacity:1;
}
.menuactive{
  opacity: 1;
  border-bottom: solid #3d3b4d 3px;
}

.list-group{
    background-color:rgba(0, 0, 0, 0.25) !important;
    border-radius: 0 !important;
    border-color: black !important;
}
.list-group-item{
    background-color:rgba(0, 0, 0, 0.25) !important;
    border-radius: 0 !important;
    border-color: black !important;
}
.tags {
padding-left: 7px;
padding-right: 7px;
}
.tags li {
display: inline;
}
.tag {
background-color: #bb52ef;
-webkit-border-radius: 4px 3px 3px 4px;
-moz-border-radius: 4px 3px 3px 4px;
border-radius: 4px 3px 3px 4px;
position: relative;
color: #fff;
display: inline-block;
text-decoration: none;
font-family: arial, helvetica, sans-serif;
font-size: 14px;

zoom: 1;
line-height: 22px;
padding: 0 8px 0 10px;
margin: 4px 4px 4px 8px;
}
