body{
  background-image: url('../img/oct.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 600px) {
    .element {
      background-attachment: none;
      background-size: auto;
      background-position: left;
        background-image: url('../img/oct.jpg');
    }
}
h1, h2, h3, h4{
  font-family: "Press Start 2P" !important;
}
a{
  color: #3498db;
  transition: ease all .75s;
}
a:hover{
  color: #f39c12;
  text-decoration: none !important;
  }
.iconsize{
  font-size: 2em !important;
  float: right;
  padding-right: 50px;
  padding-top: 10px;
  color: white;
  transition: ease all .4s
}
.iconsize:hover{
  font-size: 2.3em !important;
}
#content{
  background-color:rgba(0, 0, 0, 0.25);
  color: white;
  border: solid 1px black;
}

.menuitem{
  font-family: "Press Start 2P";
  color: white;
  opacity: .5;
  text-shadow: 2px 2px 4px #000000;
  transition: all ease .75s;
  cursor: pointer;
}
.menuitem:hover{
  opacity:1;
}
.menuactive{
  opacity: 1;
  border-bottom: solid #3d3b4d 3px;
}

.list-group{
    background-color: none !important;
    border-radius: 0 !important;
    margin: 0 !important
    left: 0 !important;
}
.list-group-item{
    background-color:rgba(0, 0, 0, 0.25) !important;
    border-radius: 0 !important;
    border-color: black !important;
    margin: 0 !important;
    left: 0 !important;
}
.tags {
padding-left: 7px;
padding-right: 7px;
}
.tags li {
display: inline;
}
.tag {
background-color: #bb52ef;
-webkit-border-radius: 4px 3px 3px 4px;
-moz-border-radius: 4px 3px 3px 4px;
border-radius: 4px 3px 3px 4px;
position: relative;
color: #fff;
display: inline-block;
text-decoration: none;
font-family: arial, helvetica, sans-serif;
font-size: 14px;

zoom: 1;
line-height: 22px;
padding: 0 8px 0 10px;
margin: 4px 4px 4px 8px;
}

.fade-in{
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:.3s;
	-moz-animation-duration:.3s;
	animation-duration:.3s;
}



@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
