<!DOCTYPE html>
<html ng-app="app" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <link rel="stylesheet" type="text/css" href="css/site.css" />
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
   <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu+Condensed|Press+Start+2P" rel="stylesheet">
   <script src="https://use.fontawesome.com/bccccab0e8.js"></script>
</head>
<body ng-controller="AppController as app">
<div> <img src="img/logo.gif" /> <a href="mailto:wayneculverhall@gmail.com"><i class="fa fa-envelope iconsize" aria-hidden="true"></i></a>
  <a href="https://github.com/waynehall"><i class="fa fa-github iconsize" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/wayne-hall-9200b768"><i class="fa fa-linkedin-square iconsize" aria-hidden="true"></i></a>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-sm-push-9">
              <img src="img/face.gif" />
        <div class="row">
          <div class="col-sm-12 menuitem" ng-class="{ menuactive:navtab ===1}" ng-click="navtab = 1">
          <h3>Me</h3>
          </div>
          <div class="col-sm-12 menuitem" ng-class="{ menuactive:navtab ===2}" ng-click="navtab = 2">
            <h3>Portfolio</h3>
          </div>
          <div class="col-sm-12 menuitem" ng-class="{ menuactive:navtab ===3}" ng-click="navtab = 3">
            <h3>Learning</h3>
          </div>
        </div>


      </div>


    <div class="col-sm-9 col-sm-pull-3" id="content">
      <div ng-show="navtab == 1" ng-include="'me.html'"></div>
      <div ng-show="navtab == 3" ng-include="'learning.html'"></div>
      <div ng-show="navtab == 2" ng-include="'portfolio.html'"></div>



    </div>



    </div>

  </div>
<script type="text/javascript">
  (function(w, d, x, id){
    s=d.createElement('script');
    s.src='https://db08fjupg2abb.cloudfront.net/amazon-connect-chat-interface-client.js';
    s.async=1;
    s.id=id;
    d.getElementsByTagName('head')[0].appendChild(s);
    w[x] =  w[x] || function() { (w[x].ac = w[x].ac || []).push(arguments) };
  })(window, document, 'amazon_connect', 'bc8f1b6f-4cbf-416e-a13e-bbbd32a3cd3b');
  amazon_connect('styles', { openChat: { color: 'white', backgroundColor: '#123456'}, closeChat: { color: 'white', backgroundColor: '#123456'} });
  amazon_connect('snippetId', 'QVFJREFIaTVucjV6blZLVmVuUmIvVHpJa0xaVTRpNURvQ3pianQ3R1hoWGhVcmtmTlFGZkRJNWh3UlVyT3hCMnRNbDZBemdoQUFBQWJqQnNCZ2txaGtpRzl3MEJCd2FnWHpCZEFnRUFNRmdHQ1NxR1NJYjNEUUVIQVRBZUJnbGdoa2dCWlFNRUFTNHdFUVFNREVESVV5N1RCVWhSbUFTeUFnRVFnQ3NiZUpnUUh5eWVtVDJoNVRtU2VncjJLa1FZdkJkRllDT2Q1U1BxSkdIZDVBL2lTNEJVdGtRR0FqVSs6OlR0OUZEdDBVRHlZY3pHTlpVdnA5SkVjSlVPZElsVzJneUpaOUZqVWh4SjdTaGJZUERsenhWeHU0aDlsN0l5TU1iZWFvS1I4cXhJTTBXUEpLK1FtVmx4TzVIa0ZXc1lhWUtjbElMYU9ycHhZa0MwZ2RKNEhjZGFSZHNNc0laNkZBZ1JEdkJXL0UvNzlmZ3dQcllJM0FiYkpuVWZtbTRjbz0=');
  amazon_connect('supportedMessagingContentTypes', [ 'text/plain', 'text/markdown' ]);
</script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/site.js"></script>

</body>
