@font-face {
    font-family: future;
    src: url(Lay-Of-The-Land.ttf);
}
html, body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	background-image: linear-gradient(to bottom, #e5e5e5 0%,#fff 100%);
}

.button{
	border-style: solid;
	border-color: #fff;
	border-radius: 5px;
	border-width: 3px;
	display: inline-block;
}
.navbar {
    /*overflow: hidden;*/
    background-image: url("hardwood.jpg");
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	height: 50px;
	box-shadow: 0px 5px 10px #000;
	z-index: 2;
}
#navpad{
	margin-left: 250px;
	width: 100px;
	height: 50px;
	display: block;
	float: left;
}
.navbar a {
	font-family: Arial, Helvetica, sans-serif;
    float: right;
    display: block;
	font-weight: bold;
	font-size: 20px;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
	text-shadow: 2px 2px 5px #000;
	transition: color 0.5s ease,
				text-shadow 0.5s ease;
}
.navbar a:hover{
	color: #fff;
	text-shadow: 2px 2px 5px #f44242; 
}
.logonba{
	font-family: future;
	font-size: 50px;
	margin: 5px;
	position: relative;
	color: white;
	text-shadow: 2px 2px 2px #000;
}
.logodraft{
	font-size: 30px;
}
.container{
	position: absolute;
}
/* Main content */
.main {
    margin-top: 50px; /* Add a top margin to avoid content overlay */
	padding-top: 20px;	
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.item{
	background-color: #fff;
	height: 300px;
	box-shadow: 2px 2px 10px #000;
	border-radius: 2px;
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
}
.itemtitle{
	width: 90%;
	text-align: center;
	margin: auto;
	background-color: red;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
.left-column{
	width: 300px;
	margin: 10px;
}
.middle-column{
	width: 600px;
	margin: 10px;
}
.right-column{
	width: 300px;
	margin: 10px;
}
.article-link{
	top:100%;
	right: 100%;
}
.player-column{
	width: 700px;
	background-color: #fff;
	height: auto;
	box-shadow: 2px 2px 10px #919191;
	border-radius: 2px;
	margin-bottom: 20px;
}
.player-notes{
	width: 690px;
	padding:10px 10px 30px 10px;
	word-wrap: break-word;

}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
.stats-block{
	margin-top: 15px;
}
#chart {
	position: relative;
	top: 50px;
	left: 100px;
    z-index: 0;
}	