#input-div{
    border-bottom: solid black 5px;
    padding: 5px;
    background-color: #eaeaea;
}
a.link{
    margin:0;padding:0;border:none;text-decoration:none;
    }

.text a {
    color: #999 !important; text-decoration: none;
    } 

a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
.form-control{
    margin-bottom: 5px;
}

.yellow-text{
    color:#ffd623;
    text-shadow: 4px 2px #fff;
}
#sidePanel{
        background: url("https://waynehall.github.io/fullytest/img/fullystaff.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 400px;
}