
a.link{
    margin:0;padding:0;border:none;text-decoration:none;
    }

.text a {
    color: #999 !important; text-decoration: none;
    } 

a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}